Confirm registration on La Munca!
=====
<p>Hello {{name}},</p>

<p>To complete registration process in La Munca! please click on following link:</p>

<p>{{confirm_registration_link}}</p>

<p>Thanks</p>
